body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
}
caption{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
}
th, td{
    border: 1px solid black;
    padding: 10px;
}
tr:nth-child(even){
    background-color: rgb(177, 177, 177);
}
div#container{
    overflow-x: auto;
}
